<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <header>
       <h1>Hello</h1>
       <nav>
           <ul>
               <li><a href="{{site.baseurl}}/index.html">Home</a></li>
               <li><a href="{{site.baseurl}}/resume.html">Resume</a></li>
               <li><a href="projects.html">Projects</a></li>
               <li><a href="">Link1</a></li>
               <li><a href="">Link2</a></li>
           </ul>
       </nav>
   </header>
    {{content}}
</body>
</html>